################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Medicamentos_API/Medicamentos_API/obj
/Medicamentos_API/.vs/Medicamentos_API
/Medicamentos_API/Medicamentos_API/bin/Debug/net7.0
