<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.3/css/fixedHeader.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<style>
    thead input {
        width: 100%;
    }
</style>

@* @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1> *@
<div class="row">
    <div class="col-lg-12">
        <a href="#" onclick="New(); return false;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Agregar Medicamento</a>        
        @Html.Partial("~/Views/Shared/Partial/_Medicamento.cshtml")
    </div>
    <div class="col-lg-12">
        <br />
        <table id="tblMedicamentos" class="table table-bordered">
            <thead>
                <tr>
                    <th>IdMedicamento</th>
                    <th>Nombre</th>
                    <th>Concentración</th>
                    <th>Farmaceútica</th>
                    <th>Precio</th>
                    <th>Presentación</th>
                    <th>Habilitado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#tblMedicamentos thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#tblMedicamentos thead');
        
        Load();



    });



    function FuntionEdit(element) {
        var codigo = $(element).closest('tr').find('#hdncodigo').val();
        getFormasFarmaceuticasEdit();
        //alert(codigo);
        $('#etxtIdMedicamento').val('');
        $('#etxtNombre').val('');
        $('#etxtConcentracion').val('');
        $('#etxtPrecio').val('');
        $('#etxtPresentacion').val('');
        $('#etxtHabilitado').prop('checked', false);
        //$('#etxtEstatus').val('');
        $('#btnmodeledit').trigger('click');
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7200/api/Medicamentoes/' + codigo,
            contentType: "application/json; charset=utf-8",
            data: { id: codigo },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data != null) {
                    $('#etxtIdMedicamento').val(data.idmedicamento);
                    $('#etxtNombre').val(data.nombre);
                    $('#etxtConcentracion').val(data.concentracion);
                    $('#eSelect').val(data.idformafarmaceutica);
                    $('#etxtPrecio').val(data.precio);
                    $('#etxtPresentacion').val(data.presentacion);
                    if (data.bhabilitado == 1) {
                        //debugger;                        
                        $('#etxtHabilitado').prop('checked', true);
                    }
                }

            },
            error: function (e) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Se presentó un Error!!!",
                    showConfirmButton: false,
                    timer: 3500
                });
                console.log("ERROR: ", e);
            },
        });
    }

    function FuntionRemove(element) {
        var idmedicamento = $(element).closest('tr').find('#hdncodigo').val();
        //alert(idusuario);
        $.ajax({
            type: 'DELETE',
            url: 'https://localhost:7200/api/Medicamentoes/' + idmedicamento,
            contentType: "application/json; charset=utf-8",
            data: { id: idmedicamento },
            dataType: "json",
            async: false,
            success: function (data) {
                //Swal.fire("El medicamento se eliminó con Éxito!!");
                Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "El Medicamento se Eliminó con Éxito!!!",
                    showConfirmButton: false,
                    timer: 3500
                });
                Load();
            },
            error: function (e) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Se presentó un Error!!!",
                    showConfirmButton: false,
                    timer: 3500
                });
                console.log("ERROR: ", e);
            },
            done: function (e) {
            }
        });
    }

    function formafarmaceutica() {
        
        var parametros = {
            idmedicamento: idmedicamento,
            nombre: nombre,
            concentracion: concentracion,
            idformafarmaceutica: idformafarmaceutica,
            precio: precio,
            stock: stock,
            presentacion: presentacion,
            bhabilitado: bhabilitado
        }
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7200/api/Formasfarmaceuticas/' + idformafarmaceutica,
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            async: false,
            success: function (data) {
                //let re = JSON.parse(data); // Aquí está el código añadido
                //console.log(data.nombre); // Esto imprime "Emiliano"
                //$.each(data, function (key, value) {
                //var _edit = "<a href='#' class='btn btn-primary' onclick='FuntionEdit(this)'><i class='fa-solid fa - pencil'></i></a>"
                //var _remove = "<a href='#' class='btn btn-danger' onclick='FuntionRemove(this)'><i class='fa-solid fa - trash - can'></i></a>"
                var _edit = "<a href='#' class='btn btn-sm btn-primary' onclick='FuntionEdit(this)'><i class='fa-solid fa-pencil'></i></a>"
                var _remove = "<a href='#' class='btn btn-sm btn-danger' onclick='FuntionRemove(this)'><i class='fa-solid fa-trash-can'></i></a>"
                var _hidden = "<input type='hidden' id='hdncodigo' value='" + idmedicamento + "' />";
                var _action = _hidden + _edit + "  " + _remove;
                tabledata.push([idmedicamento, nombre, concentracion, data.nombre, precio, presentacion, bhabilitado, _action])
                //})
                
            },
            error: function (e) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Se presentó un Error!!!",
                    showConfirmButton: false,
                    timer: 3500
                });
                console.log("ERROR: ", e);
            },
        });               
    }

    function Load() {
        tabledata = [];
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7200/api/Medicamentoes',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                $.each(data, function (key, value) {
                    idmedicamento = value.idmedicamento;
                    nombre = value.nombre;
                    concentracion = value.concentracion;
                    idformafarmaceutica = value.idformafarmaceutica;
                    precio = value.precio;
                    stock = value.stock;
                    presentacion = value.presentacion;
                    bhabilitado = value.bhabilitado;


                    formafarmaceutica(idmedicamento, nombre, concentracion, idformafarmaceutica, precio, stock, presentacion, bhabilitado);

                   
                })
            },
            error: function (e) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Se presentó un Error!!!",
                    showConfirmButton: false,
                    timer: 3500
                });
                console.log("ERROR: ", e);
            },
        });

        js('#tblMedicamentos').DataTable({
            destroy: true,
            data: tabledata,
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        //$(cell).html('<input type="text" placeholder="' + title + '" />');
                        $(cell).html('<input type="text" placeholder="Buscar..." />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    }

    function New() {
        Clear();
        getFormasFarmaceuticas();
        $('#btnmodel').trigger('click');
    }
    function Clear() {
        $('#txtIdUsuario').val('');
        $('#txtNombre').val('');
        $('#txtConcentracion').val('');
        $('#txtPrecio').val('');
        $('#txtPresentacion').val('');
        $('#txtEstatus').val('');
    }


    function Edit() {
        var iscompleted = true;
        var idMedicamento = $('#etxtIdMedicamento').val();
        var nombre = $('#etxtNombre').val();
        var concentracion = $('#etxtConcentracion').val();
        var precio = $('#etxtPrecio').val();
        var presentacion = $('#etxtPresentacion').val();
        if ($('#etxtHabilitado').prop('checked')) {
            var habilitado = 1;           
        } else {
            var habilitado = 0;
        }
        var formafarmaceutica = $('#eSelect').val();
        //var estatus = $('#etxtEstatus').val();
        if (nombre == '') {
            iscompleted = false;
            $('#etxtNombre').css('border-color', 'red');
        }
        else {
            $('#etxtNombre').css('border-color', '#ccc');
        }
        if (iscompleted) {
            //alert(habilitado);
            //alert(formafarmaceutica);
            var tabledata = new Object();
            tabledata.idmedicamento = idMedicamento;
            tabledata.nombre = nombre;
            tabledata.concentracion = concentracion;
            tabledata.idformafarmaceutica = formafarmaceutica;
            tabledata.precio = precio;            
            tabledata.presentacion = presentacion;
            tabledata.bhabilitado = habilitado;
            //alert(tabledata.pro_Descripcion);
            //alert(tabledata.password);
            $.ajax({
                type: 'PUT',
                url: 'https://localhost:7200/api/Medicamentoes/' + idMedicamento,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify(tabledata),
                success: function (data) {
                    //Swal.fire("El Medicamento se Actualizó con Éxito!!");
                    Swal.fire({
                        position: "top-center",
                        icon: "success",
                        title: "El Medicamento se Actualizó con Éxito!!!",
                        showConfirmButton: false,
                        timer: 3500
                    });
                    // if (data == 'pass') {
                    Load();
                    $('.close').trigger('click');
                    
                    //alert('Medicamento Actualizado con Éxito!!!');
                    // }
                    //else {
                    //alert('Falló el intento de Crear Producto');
                    // }
                    //alert(response);
                },
                error: function (e) {
                    Swal.fire({
                        position: "top-center",
                        icon: "error",
                        title: "Se presentó un Error!!!",
                        showConfirmButton: false,
                        timer: 3500
                    });
                    console.log("ERROR: ", e);
                },
                done: function (e) {
                }
            });
        }
    }
    function validapassword(password) {


        return true;

    }
    function getFormasFarmaceuticasEdit() {
        //$("#Select").value = '';
        $("#eSelect").empty();
        $.ajax({
            type: "GET",
            url: 'https://localhost:7200/api/Formasfarmaceuticas',
            async: false,
            dataType: "json",
            success: function (data) {

                $.each(data, function (key, registro) {
                    var id = "";
                    var nombre = "";

                    $.each(registro, function (key, value) {
                        //alert(campo + ": " + valor);
                        if (key == "idformafarmaceutica") { id = value; }
                        if (key == "nombre") { nombre = value; }
                        //debugger;
                    });
                    $("#eSelect").append('<option value=' + id + '>' + nombre + '</option>');
                });

            },
            error: function (e) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Se presentó un Error!!!",
                    showConfirmButton: false,
                    timer: 3500
                });
                console.log("ERROR: ", e);
            }
        });
    }
    function getFormasFarmaceuticas() {
        //$("#Select").value = '';
        $("#Select").empty();
        $.ajax({
            type: "GET",
            url: 'https://localhost:7200/api/Formasfarmaceuticas',
            async: false,
            dataType: "json",
            success: function (data) {
                
                $.each(data, function (key, registro) {
                    var id = "";
                    var nombre = "";

                    $.each(registro, function (key, value) {
                        //alert(campo + ": " + valor);
                        if (key == "idformafarmaceutica") { id = value; }
                        if (key == "nombre") { nombre = value; }
                        //debugger;
                    });
                    $("#Select").append('<option value=' + id + '>' + nombre + '</option>');
                });
                
            },
            error: function (e) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Se presentó un Error!!!",
                    showConfirmButton: false,
                    timer: 3500
                });
                console.log("ERROR: ", e);
            }
        });
    }
    function Save() {
        //alert('valida valores');
        //alert($('#Select').val());
        var iscompleted = true;
        //var idusuario = $('#txtIdUsuario').val();
        var nombre = $('#txtNombre').val();
        var concentracion = $('#txtConcentracion').val();
        var precio = $('#txtPrecio').val();
        var presentacion = $('#txtPresentacion').val();
        //var estatus = $('#txtEstatus').val();
        //alert(precio);        
            if (nombre == '') {
                iscompleted = false;
                $('#txtNombre').css('border-color', 'red');
            }
            else {
                $('#txtNombre').css('border-color', '#ccc');
            }
        if (concentracion == '') {
                iscompleted = false;
            $('#txtConcentracion').css('border-color', 'red');
            }
            else {
            $('#txtConcentracion').css('border-color', '#ccc');
            }
        if (precio == '') {
                iscompleted = false;
            $('#txtPrecio').css('border-color', 'red');
            }
            else {
            $('#txtPrecio').css('border-color', '#ccc');
            }
        if (presentacion == '') {
                iscompleted = false;
            $('#txtPresentacion').css('border-color', 'red');
            }
            else {
            $('#txtPresentacion').css('border-color', '#ccc');
            }           

            if (iscompleted) {
            var tabledata = new Object();
            //alert($('#txtHabilitado').prop('checked'));
            if ($('#txtHabilitado').prop('checked')) {
                tabledata.bhabilitado = 1;
                    //alert('true');
                } else {
                tabledata.bhabilitado = 0;
               // alert('false');
                }
                
                //tabledata.idUsuario = idusuario
                tabledata.nombre = nombre;
                tabledata.concentracion = concentracion;
                tabledata.idformafarmaceutica = $('#Select').val();
                tabledata.precio = precio;
                tabledata.stock = 10;
                tabledata.presentacion = presentacion;
                
                //tabledata.estatus = estatus;
                //alert(tabledata.pro_Descripcion);

                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:7200/api/Medicamentoes',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    data: JSON.stringify(tabledata),
                    success: function (data) {
                    Swal.fire({
                        position: "top-center",
                        icon: "success",
                        title: "El Medicamento se Insertó con Éxito!!!",
                        showConfirmButton: false,
                        timer: 3500
                    });
                        // if (data == 'pass') {
                        Load();
                        $('.close').trigger('click');
                        //alert('Medicamento Almacenado con Éxito!!!');
                        // }
                        //else {
                        //alert('Falló el intento de Crear Producto');
                        // }
                        //alert(response);
                    },
                    error: function (e) {
                    Swal.fire({
                        position: "top-center",
                        icon: "error",
                        title: "Se presentó un Error!!!",
                        showConfirmButton: false,
                        timer: 3500
                    });
                        console.log("ERROR: ", e);
                    },
                    done: function (e) {
                    }
                });
            }       
    }
</script>